<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title_block %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'libraries/bootstrap.css' %}">

    <script src="{% static 'libraries/jquery.js' %}"></script>
    <script src="{% static 'libraries/poper.js' %}"></script>
    <script src="{% static 'libraries/bootstrap_js.js' %}"></script>

    {% block css_block %}
    {% endblock css_block %}
</head>

<style>
    .dropdown-menu {
        background-color: #343a40;
    }

    .dropdown-item {
        color: white;
    }
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">#PIW</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Laboratorium 1
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url "lab1:main" %}">Strona główna</a>
                    <a class="dropdown-item" href="{% url "lab1:register" %}">Rejestracja</a>
                    <a class="dropdown-item" href="{% url "lab1:sign" %}">Logowanie</a>
                    <a class="dropdown-item" href="{% url "lab1:game" %}">Mini-Gra</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Laboratorium 2
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url "lab2:form" %}">Zadanie 1</a>
                    <a class="dropdown-item" href="{% url "lab2:quadratic" %}">Zadanie 2</a>
                    <a class="dropdown-item" href="{% url "lab2:picture" %}">Zadanie 3</a>
                    <a class="dropdown-item" href="{% url "lab2:animals" %}">Zadanie 4</a>
                    <a class="dropdown-item" href="{% url "lab2:animation" %}">Zadanie 5</a>
                    <a class="dropdown-item" href="{% url "lab2:game" %}">Zadanie 6</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Laboratorium 3
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url "lab3:canvas" %}">Zadanie 1</a>
                    <a class="dropdown-item" href="{% url "lab3:snake" %}">Zadanie 2</a>
                    <a class="dropdown-item" href="{% url "lab3:scores" %}">Zadanie 3</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Laboratorium 4
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url "lab4:queue" %}">Zadanie 1</a>
{#                    <a class="dropdown-item" href="{% url "lab3:snake" %}">Zadanie 2</a>#}
{#                    <a class="dropdown-item" href="{% url "lab3:scores" %}">Zadanie 3</a>#}
                </div>
            </li>
        </ul>
    </div>
</nav>
{% block body_block %}
{% endblock body_block %}
</body>
</html>

{% block script %}
{% endblock script %}


